<header>
  <div class="topbar">
    <div class="topbar-left">
      <a id="" href="/" target="_parent" style="color: white; text-decoration: none;"><font size="5">PTA MEMBERS PORTAL</font> </a></br>
    </div>

    <div style="color:white;">

    <div class="topbar-right" >

      <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
        <nav>
          <form action="/sessions?_method=DELETE" method="POST">
            <input style="color:black;" type="submit" value="Logout"/>
          </form>
        </nav>

      <body>

      <% } else { %>
        <!-- <a href="/sessions/new">Log In</a> -->
        <form style="color:black;" action="/sessions" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Log In" />
        </form>
        <font size="2"> <i>Not a User Yet?  </i>Register by clicking <a style="color:white;" href="/users/new">HERE</a></font>
      <% } %>
    </div>
  </div>

</header>
