<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>PTA</title>
    <link rel="stylesheet" href="/css/forms.css">
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          PTA - Login Page
        </div>
        <form action="/sessions" method="POST" class="form">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Log In" />
        </form>
      </div>
      <div class="bottombar">GA WDIR - Project 3</div>
    </header>
  </body>
</html>
