<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>PTA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>

    <header class="header">
      <div class="topbar">
        <div class="topbar-left">

        </div>
        <div class="topbar-right" >
          <a id="" href="/" target="_parent" style="color: white; text-decoration: none;"><font size="5">PTA MEMBERS PORTAL</font> </a></br>

            <!-- <a href="/sessions/new">Log In</a> -->
            <form action="/sessions" method="POST">
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <input type="submit" value="Log In" />
            </form>
            <font size="2" color="white"> <i>Not a User Yet?  </i>Register <a href="/users/new">here</a></font></br>
              <span class="blink_text">Incorrect username or password, please try again. </span>
        </div>
      </div>
      <div class="maincontent"><br><br>
        <center>
       </font></center>

      </div>

    </header>
    <% include ../partials/head %>
    <div style= "margin-top: 80px;">
      <% include ../partials/footer %>
    </div>
  </body>
</html>
