<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PTA</title>
</head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <!-- <a id="" href="/" target="_parent" style="color: white; text-decoration: none;"><font size="5">PTA</font> </a></br> -->
          <font size="1"> <i>PTA</i></font>
        </div>
      </div>
      <h1 id="subtitle">Create User</h1>
      <form id="submenu" action="/users" method="POST">
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <input type="submit" value="Create User" />
      </form>
      <div class="bottombar">GA WDIR - Project 3</div>
    </header>
  </body>
</html>
